* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* page two start */


.containerOfDishes {
  display: grid;
  justify-content: center;
  align-content: center;
  column-gap: 50px;
  padding-bottom: 40px;
  background-image:url(../image/ej2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}


.dishes {
  display: grid;
  padding-top: 120px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  justify-content: space-around;
  cursor: pointer;
  row-gap: 100px;
}

.dishes_type {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  width: 200px;
  height: 150px;
  background-color: lemonchiffon;
  padding: 10px;
  transition: 0.5s ease;
}

.dishes_type:hover {
  background-color: rgb(224, 224, 136);
}

.dishes_type .dishes_type_name {
  text-decoration: none;
  color: red;
  font-size: 18px;
}

@media only screen and (max-width: 830px) {
  .dishes {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 540px) {
  .dishes {
    grid-template-columns: 1fr;
    row-gap: 70px;
  }
}
