* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* page one start */





.select {display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

 select {
    padding: 10px;
    background: #ca9903;
  outline: none;
    border-radius: 20px;
   width: 200px;
    font-size: 18px;
    font-family: noto-sans-medium;
    margin-bottom: 60px;
    color: #fff;
    min-height: 40px;
    cursor: pointer;
    position: relative;
    transition: .5s ease;
}

.book {
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #77b54e;
    outline: none;
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
     transition: .5s ease;
}





 .book:hover {
    background-color: #9fcb80;
}


/* page one start */


