* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* marmin*/
body, html {
  height: 100%;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;

}

  .hetnamas{
    background-image: url(../image/ej4.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;

  }

/*glxavor glux*/
.main-header {
  display: flex;
  font-size: 30px;
  justify-content: center;
  color: white;
  margin: 20px;
  padding: 20px;
  margin-top: 100px;
}

.main-colums {
  margin-top: 40px;
  height: 300px;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.cloum-1-price {
  margin: 30px;
  font-size: 20px;
  text-align: center;
}
.colums-2 {
  margin-top: 50px;
  width: 184px;
}
.row-1 {
  font-size: 20px;
}
.plyus,
.minus {
  cursor: pointer;
  color: white;
}
.row-2,
.row-3 {
  margin-top: 40px;
  width: 80px;
  font-size: 16px;
}
footer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
footer .confirm {
  border-radius: 10px;
  cursor: pointer;
  background-color: #77b54e;
  outline: none;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  transition: 0.5s ease;
  margin-top: 80px;

}

.peperoni {
  margin: 30px;
}

.peperoni img {
  height: 200px;
  margin-top: 20px;
}

.confirm {
  cursor: pointer;
  transition: all 0.3s ease;
}

.confirm:hover {
  color: white;
  background-color: #2ecc71;
}




